/**
 * All of the CSS used both in admin and public should be
 * included in this file.
 */

 .wpe-large {
    display: block;
    max-width: 100%;
    width: 100%;
}

.wpe-large select {
    width: 100%;
    padding: 12px;
}

.wpe-small {
    display: inline-block;
    max-width: 32%;
    width: 100%;
}

.wpe-medium {
    display: inline-block;
    max-width: 49%;
    width: 100%;
}

body .wpe-form-control select,
body .wpe-form-control .wpe-field {
    max-width: 100%;
    width: 100%;
    min-height: 48px;
    padding: 15px;
    box-sizing: border-box;
}

/* form#wpe-register-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

.wpe-form-control small, .wpe-above-error-field, .wpe-form-control .wpe-email-error-class,
.wpe-form-control .wpe-phone-error-class, .wpe-form-control .wpe-zip-error-class {
    color: var(--error-color);
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    visibility: hidden;
    display: none;
    width: 100%;
    padding: 2px;
    background: #f9eeee;
    color: #9b0b0b;
    font-weight: bold

}

.wpe-email-error-class, .wpe-phone-error-class, .wpe-zip-error-class {
    font-size: smaller;
}

.wpe-above-error-field {
    text-align: center;
    border: 1px solid #9b0b0b;
    width: 100%;
    border-radius: 5px;
    background: none;
    margin-bottom: 20px;
}

.wpe-error-exclamation {
    color: white;
    border-radius: 50%;
    background:#9b0b0b ;
    padding: 1px 8px;
}

.wpe-form-control.success input {
    border-color: var(--succes-color);
}

.wpe-form-control.error input {
    border-color: var(--error-color);
}

.wpe-form-control.error small, .wpe-above-error-field.error,
.wpe-form-control.correct-email .wpe-email-error-class,
.wpe-form-control.correct-phone .wpe-phone-error-class,
.wpe-form-control.correct-zip .wpe-zip-error-class {
    visibility: visible;
    display: block;
}

.wpe-register-form-container {
    position: relative;
}

.wpe-register-form-container input,
.wpe-register-form-container select,
.wpe-subscribe-form-container input,
.wpe-subscribe-form-container select {
    border: 1px solid #ddd;
}

.wpe-subscribe-form-container input:not([type='checkbox']),
.wpe-subscribe-form-container select {
    border: 1px solid #ddd;
    min-height: 48px;
    padding: 0 15px;
    box-sizing: border-box;
}

.wpe-subscribe-form-container input[type="checkbox"],
.wpe-subscribe-form-container input[type="radio"] {
	min-width: 16px;
	min-height: 16px;
	top: 0;
	max-height: 16px;
}

.wpe-popup {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, .5); 
}

.popup-inner {
    position: absolute;
    max-width: 425px;
    width: 100%;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wpe-hidden {
    display: none;
}

.wpe-show {
    display: block;
}

@media only screen and (max-width: 811px) {
    .wpe-small, .wpe-medium {
        max-width: 100%;
        margin-left: 0;
    }
} 